ion-content {
    --background: url(../../assets/InscriptionTemplate/mapp.jpg) no-repeat center center / cover;
}

.card-center {
    width: 90%; // adjust width on your ion-card suitable on your screen
    height: 90%;
}

ion-slides {
    top: 3%;
}

ion-card {
    top: 15%;
    opacity: 0.9;
}

section {
    margin-top: 1em;
    margin-bottom: 2.5em;
}

.flex {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.img-box {
    height: 200px;
    overflow: hidden;
}

img {
    height: 200px;
}