.flex {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.img-box {
    height: 200px;
    overflow: hidden;
}

img {
    height: 200px;
}

section {
    margin-top: 1em;
    margin-bottom: 2.5em;
}