<ion-header translucent no-border>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" slot="fixed">

    <div id="backimage" class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 300px;  background-size: cover; background-position: center top;">
        <!-- Mask -->
        <span class="mask bg-gradient-default opacity-8"></span>
        <!-- Header container -->
        <div class="container-fluid d-flex align-items-center">
            <div style="width: 100%;">
                <div class="col-lg-7 col-md-10">
                    <h1 class="display-2 text-white">{{nomUser}}</h1>
                    <p class="text-white mt-0 mb-5">Ici c'est le profile de {{nomUser}} vous y trouverez ces postes</p>
                    <!-- <a href="#!" class="btn btn-info">Edit profile</a> -->
                </div>
            </div>
        </div>
    </div>
    <!-- Page content -->
    <div class="container-fluid mt--7">
        <div class="row">
            <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
                <div class="card card-profile shadow">
                    <div class="row justify-content-center">
                        <div class="col-lg-3 order-lg-2">
                            <div class="card-profile-image">
                                <a>
                                    <img [src]="imageUser" class="rounded-circle">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
                        <div class="d-flex justify-content-between" style="color: white;">
                            <ion-button id="abonne" (click)="sabonner()" class="btn btn-sm ">S'abonner</ion-button>
                            <ion-button id="desabonne" (click)="desabonner()" class="btn btn-sm ">Se désabonner</ion-button>
                            <ion-button id="signal" (click)="signalerUser()" class="btn btn-sm btn-default float-left">signaler</ion-button>
                            <ion-button id="siganled" class="btn btn-sm btn-default float-left">signalé</ion-button>
                        </div>
                    </div>
                    <div class="card-body pt-0 pt-md-4">
                        <div class="row">
                            <div class="col">
                                <div class="card-profile-stats d-flex justify-content-center mt-md-5">
                                    <div>
                                        <span class="heading">{{nbAbonements}}</span>
                                        <span class="description">Abonné à</span>
                                    </div>
                                    <div>
                                        <span class="heading">{{nbPosts}}</span>
                                        <span class="description">Posts</span>
                                    </div>
                                    <div>
                                        <span class="heading">{{nbSuivits}}</span>
                                        <span class="description">Suivit par</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text-center">
                            <h3>
                                {{nomUser}}<span class="font-weight-light">, {{age}}ans</span>
                            </h3>
                            <div class="h5 font-weight-300">
                                <i class="ni location_pin mr-2"></i>{{adresse}}
                            </div>
                            <div class="h5 mt-4">
                                <i class="ni business_briefcase-24 mr-2"></i>{{email}}
                            </div>
                            <div>
                                <!-- <i class="ni education_hat mr-2"></i>{{tel}} -->
                            </div>
                            <!-- <hr class="my-4" />
                            <p>Ryan — the name taken by Melbourne-raised, Brooklyn-based Nick Murphy — writes, performs
                                and records all of his own music.</p>
                            <a href="#">Show more</a> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-8 order-xl-1">
                <div class="card bg-secondary shadow">

                    <div class="card-header bg-white border-0">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <h3 id="titrePosts" class="mb-0">Posts</h3>

                            </div>
                            <!-- s -->
                        </div>
                    </div>

                    <ion-grid id="gallery" class="image-grid">
                        <ion-row class="single-row" *ngFor="let p of userPosts;">
                            <ion-col col-4 class="single-image">
                                <img height="80%" width="100%" [src]="p.post_id.imageP" (click)="openModel(p.post_id.id)" alt="ImagePost">
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </div>
            </div>

        </div>
        <!-- Footer -->
        <footer class="footer">

        </footer>
    </div>

</ion-content>